__pycache__/Task1.cpython-312.pyc
__pycache__/chebyquad_problem.cpython-39.pyc
__pycache__/Task1.cpython-39.pyc
__pycache__/chebyquad_problem.cpython-312.pyc
__pycache__/Task1.cpython-312.pyc
__pycache__/Task1.cpython-312.pyc
__pycache__/Task1.cpython-312.pyc
